.whi__button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.15s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0.5em 0.5em 0;
  font-size: 0.9rem;
  background: #005b82;
  color: #fff; }
  .whi__button:hover, .whi__button:focus {
    background: #004d6f;
    color: #fff;
    text-decoration: none; }
  .whi__button.whi__button--tiny {
    font-size: 0.6rem; }
  .whi__button.whi__button--small {
    font-size: 0.75rem; }
  .whi__button.whi__button--large {
    font-size: 1.25rem; }
  .whi__button.whi__button--expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .whi__button.whi__button--primary {
    background: #26a65b;
    color: #fff; }
    .whi__button.whi__button--primary:hover, .whi__button.whi__button--primary:focus {
      background: #1e8549;
      color: #fff;
      text-decoration: none; }
  .whi__button.whi__button--secondary {
    background: #329fce;
    color: #fff; }
    .whi__button.whi__button--secondary:hover, .whi__button.whi__button--secondary:focus {
      background: #287fa5;
      color: #fff;
      text-decoration: none; }
  .whi__button.whi__button--hollow {
    border: 1px solid #005b82;
    color: #005b82; }
    .whi__button.whi__button--hollow, .whi__button.whi__button--hollow:hover, .whi__button.whi__button--hollow:focus {
      background: transparent; }
    .whi__button.whi__button--hollow:hover, .whi__button.whi__button--hollow:focus {
      border-color: #002e41;
      color: #002e41; }
    .whi__button.whi__button--hollow.whi__button--primary {
      border: 1px solid #26a65b;
      color: #26a65b; }
      .whi__button.whi__button--hollow.whi__button--primary:hover, .whi__button.whi__button--hollow.whi__button--primary:focus {
        border-color: #13532e;
        color: #13532e; }
    .whi__button.whi__button--hollow.whi__button--secondary {
      border: 1px solid #329fce;
      color: #329fce; }
      .whi__button.whi__button--hollow.whi__button--secondary:hover, .whi__button.whi__button--hollow.whi__button--secondary:focus {
        border-color: #195067;
        color: #195067; }
  .whi__button.whi__button--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; }
