/**
 * a mini reset css
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	margin: 25px 0px 25px 45px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * starting docs
 */

body {
	font-family: "Roboto",Helvetica,Arial,sans-serif;
}

h1 {
	font-size: 3em;
	margin: 0.25em 0;
	font-weight: 300;
}
h2 {
	font-size: 2em;
	margin: 0.25em 0;
	font-weight: 100;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.8em 0 0.5em 0;
	font-weight: 200;
}
h4 {
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0 0.5em 0;
	font-weight: 200;
}

.whi__docs__header {
	min-height: 286;
	background-color:#005b82;
	color: #FFF;
	padding: 30px;
}

.whi__docs__header__content {
	padding-top: 30px;
	position: relative;
}

.whi__docs__header__content img {
	position: absolute;
	right: 0;
	margin: 0 24px; 
	margin-top:-15px;
	top: 50%;
}

.whi__docs__header__content svg {
	position: absolute;
	right: 0;
	margin: 0 24px; 
	margin-top:-15px;
	top: 50%;
}
.whi__docs__body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}

.whi__docs__body {
	max-width: 1200px;
	margin: 0 auto;
}

.whi__docs__body__wrapper {
	max-width: 812px;
}

.whi__docs__demo {
	padding: 15px;
	border: 1px solid rgba(0, 0, 0, .15);
}


              /*
                Translation animation making wave like structure by varing initial begin time for
                each letter.

                see first keyframe at 0%, shape is moved up by 30px,
                at second frame at 50%, shape is moved down by 30 px below zero position, this
                gives the effect of shape or letter moving down from top,

                at last frame at 100%, shape is moved up by 30px from zero position, this
                gives the effect of moving up from previous position at 50% state

                so, basically, its at top initally, then send to bottom and then to top,
                and repeated continuously

                here, I also added opacity just like example below, to show that you
                can have multiple effects at same time, you can see the example how it
                looks in browser.

              */
          /*translate transformation style*/
              @keyframes wave {
                  0% {
                      -webkit-transform: translate(0,-30px);
                      -moz-transform: translate(0,-30px);
                      -o-transform: translate(0,-30px);
                      -ms-transform: translate(0,-30px);
                      transform: translate(0,-30px);
                      opacity:0.01;
                  }
                  50% {
                      -webkit-transform: translate(0,30px);
                      -moz-transform: translate(0,30px);
                      -o-transform: translate(0,30px);
                      -ms-transform: translate(0,30px);
                      transform: translate(0,30px);
                      opacity:1.0;
                  }
                  100% {
                      -webkit-transform: translate(0,-30px);
                      -moz-transform: translate(0,-30px);
                      -o-transform: translate(0,-30px);
                      -ms-transform: translate(0,-30px);
                      transform: translate(0,-30px);
                      opacity:0.01;
                  }
              }

              .wave {
                  animation-name: wave;
                  -webkit-animation-play-state:paused;
                  animation-play-state:paused;
                  animation-duration: 2s;
                  animation-iteration-count: infinite;
              }

              #w {
                  -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
                  animation-delay: 0.2s;
              }
              #h {
                  -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
                  animation-delay: 0.4s;
              }
              #i {
                  -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
                  animation-delay: 0.6s;
              }
              #t {
                  -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
                  animation-delay: 0.8s;
              }
              #e {
                  -webkit-animation-delay: 1.0s; /* Chrome, Safari, Opera */
                  animation-delay: 1.0s;
              }

              